<form [formGroup]="form" (submit)="submit()">
  <div class="row">
    <mat-form-field class="col-md-6">
      <input
        (focusout)="saveForm()"
        matInput
        formControlName="name"
        placeholder="Nombre de la campaña"
      />
    </mat-form-field>

    <mat-form-field class="col-md-6">
      <mat-label>Objetivo</mat-label>
      <mat-select formControlName="objetive">
        <mat-option
          formControlName="objetive"
          *ngFor="let objetive of objetives"
          [value]="objetive.value"
        >
          {{ objetives.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="row">
    <b class="col-md-2">Fecha de publicación:</b>
  </div>
    <div class="row">
    <mat-form-field class="col-md-3">
      <input
        (dateChange)="saveForm()"
        matInput
        formControlName="pubDateInit"
        [matDatepicker]="publicationInit"
        placeholder="Inicio"
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="publicationInit"
      ></mat-datepicker-toggle>
      <mat-datepicker #publicationInit></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="col-md-3">
      <input
        (dateChange)="saveForm()"
        matInput
        formControlName="pubDateEnd"
        [matDatepicker]="publicationEnd"
        placeholder="Fin"
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="publicationEnd"
      ></mat-datepicker-toggle>
      <mat-datepicker #publicationEnd></mat-datepicker>
    </mat-form-field>
  </div>

  <div class="row">
    <b class="col-md-2">Redes:</b>
    <ul>
      <li *ngFor="let network of networks">{{ network.name }}</li>
    </ul>
  </div>
  <div class="row">
      <b class="col-md-2">Ubicaciones:</b>
      <ul>
        <li *ngFor="let network of networks">{{ network.name }}</li>
      </ul>
    </div>
  <div class="row"><b class="col-md-2">Idioma:</b> dd</div>
  <div class="row"><b class="col-md-2">Presupuesto:</b> d</div>
  <div class="row"><b class="col-md-2">Puja:</b> d</div>
  <div class="row">
    <b class="col-md-2">Programación de anuncios:</b> d
  </div>
  <div class="row">
    <b class="col-md-2">Extenciones del anuncio:</b>
   d
  </div>
  <div class="row">
    <b class="col-md-2">Extenciones del anuncio:</b>
   d
  </div>

  <div class="extension-container">
    <div
      formArrayName="announcementExtensions"
      *ngFor="
        let ex of form.get('announcementExtensions')['controls'];
        let i = index
      "
      class="kt-portlet blue-box kt-portlet--border-bottom-brand row"
    >
      <mat-icon (click)="removeAnnouncementExtensionForm(i)">cancel</mat-icon>
      <div class="col-md-12" [formGroupName]="i">
        <div class="row">
          <mat-form-field class="col-md-12">
            <input
              (focusout)="saveForm()"
              matInput
              #siteLink
              maxlength="{{textLimit1}}"
              formControlName="text"
              placeholder="Texto de enlace de sitio"
            />
            <mat-hint align="end"
            >{{ siteLink.value?.length || 0 }}/{{
              textLimit1
            }}</mat-hint>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field class="col-md-12">
            <input
              (focusout)="saveForm()"
              matInput
              maxlength="{{textLimit2}}"
              #description1
              formControlName="descriptiveLineOne"
              placeholder="Linea descriptiva 1"
            />
            <mat-hint align="end"
            >{{ description1.value?.length || 0 }}/{{
              textLimit2
            }}</mat-hint>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field class="col-md-12">
            <input
              (focusout)="saveForm()"
              matInput
              maxlength="{{textLimit2}}"
              #description2
              formControlName="descriptiveLineTwo"
              placeholder="Linea descriptiva 2"
            />
            <mat-hint align="end"
            >{{ description2.value?.length || 0 }}/{{
              textLimit2
            }}</mat-hint>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field class="col-md-12">
            <input
              (focusout)="saveForm()" matInput formControlName="url" placeholder="Sitio" />
          </mat-form-field>
        </div>
      </div>
    </div>

    <span>
      <mat-icon (click)="addAnnouncementExtensionForm()"
        >control_point</mat-icon
      >
      <p class="text-center">Agregar extensión de anuncio</p>
    </span>
  </div>

  <div class="row">
    <b class="col-md-4">Extenciones de texto destacado:</b>
  </div>

  <div class="extension-container">
    <div
      formArrayName="textExtensions"
      *ngFor="let ex of form.get('textExtensions')['controls']; let i = index"
      class="kt-portlet blue-box kt-portlet--border-bottom-brand row"
    >
      <mat-icon (click)="removeTextExtensionForm(i)">cancel</mat-icon>
      <div class="col-md-12" [formGroupName]="i">
        <div class="row">
          <mat-form-field class="col-md-12">
            <input
              (focusout)="saveForm()"
              matInput
              formControlName="outstandingText1"
              placeholder="Texto destacado 1"
              #text1
              maxlength="{{textLimit1}}"
            />
            <mat-hint align="end"
            >{{ text1.value?.length || 0 }}/{{
              textLimit1
            }}</mat-hint>
            
          </mat-form-field>
          <mat-form-field class="col-md-12">
            <input
              (focusout)="saveForm()"
              matInput
              formControlName="outstandingText2"
              placeholder="Texto destacado 2"
              #text2
              maxlength="{{textLimit1}}"
            />
            <mat-hint align="end"
            >{{ text2.value?.length || 0 }}/{{
              textLimit1
            }}</mat-hint>
            
            
          </mat-form-field>
          <mat-form-field class="col-md-12">
            <input
              (focusout)="saveForm()"
              matInput
              formControlName="outstandingText3"
              placeholder="Texto destacado 3"
              #text3
              maxlength="{{textLimit1}}"
            />
            <mat-hint align="end"
            >{{ text3.value?.length || 0 }}/{{
              textLimit1
            }}</mat-hint>
            
            
          </mat-form-field>
          <mat-form-field class="col-md-12">
            <input
              (focusout)="saveForm()"
              matInput
              formControlName="outstandingText4"
              placeholder="Texto destacado 4"
              #text4
              maxlength="{{textLimit1}}"
            />
            <mat-hint align="end"
            >{{ text4.value?.length || 0 }}/{{
              textLimit1
            }}</mat-hint>
            
            
          </mat-form-field>
        </div>
      </div>
    </div>

    <span>
      <mat-icon (click)="addTextExtensionForm()">control_point</mat-icon>
      <p class="text-center">Agregar extensión de texto destacado</p>
    </span>
  </div>
  <div class="row">
    <button type="submit" class="btn btn-brand col-md-2 offset-md-5">
      Continuar
    </button>
  </div>
</form>
