<div class="kt-grid kt-grid--hor kt-grid--root">
  <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">
    <button class="kt-aside-close " id="kt_aside_close_btn">
      <i class="la la-close"></i>
    </button>

    <div
      class="kt-aside  kt-aside--fixed  kt-grid__item kt-grid kt-grid--desktop kt-grid--hor-desktop"
      id="kt_aside"
      style="opacity: 1;"
    >
      <div
        class="kt-aside-menu-wrapper kt-grid__item kt-grid__item--fluid"
        id="kt_aside_menu_wrapper"
      >
        <div
          id="kt_aside_menu"
          class="kt-aside-menu kt-scroll ps ps--active-y"
          data-ktmenu-vertical="1"
          data-ktmenu-scroll="1"
          data-ktmenu-dropdown-timeout="500"
          style="height: 228px; overflow: hidden;"
        >
          <ul class="kt-menu__nav ">
            <li
              class="kt-menu__item  kt-menu__item--submenu"
              aria-haspopup="true"
              data-ktmenu-submenu-toggle="hover"
            >
              <a href="javascript:;" class="kt-menu__link kt-menu__toggle">
                <i class="kt-menu__link-icon fa fa-google "></i
                ><span class="kt-menu__link-text">Google ads</span
                ><i class="kt-menu__ver-arrow la la-angle-right"></i
              ></a>
              <div class="kt-menu__submenu ">
                <span class="kt-menu__arrow"></span>
                <ul class="kt-menu__subnav">
                  <li
                    class="kt-menu__item  kt-menu__item--parent"
                    aria-haspopup="true"
                  >
                    <span class="kt-menu__link"
                      ><span class="kt-menu__link-text">Google ads</span
                      ><span class="kt-menu__link-badge"
                        ><span class="kt-badge kt-badge--brand">2</span></span
                      ></span
                    >
                  </li>
                  <li
                    class="kt-menu__item "
                    [routerLink]="['campaing_abstract']"
                    aria-haspopup="true"
                  >
                    <a class="kt-menu__link "
                      ><i
                        class="kt-menu__link-bullet kt-menu__link-bullet--line"
                        ><span></span></i
                      ><span class="kt-menu__link-text"
                        >Resumen general</span
                      ></a
                    >
                  </li>
                  <li
                    class="kt-menu__item "
                    [routerLink]="['health_check']"
                    aria-haspopup="true"
                  >
                    <a class="kt-menu__link "
                      ><i
                        class="kt-menu__link-bullet kt-menu__link-bullet--line"
                        ><span></span></i
                      ><span class="kt-menu__link-text">Health check</span></a
                    >
                  </li>
                  <li
                    class="kt-menu__item "
                    [routerLink]="['google_campaing']"
                    aria-haspopup="true"
                  >
                    <a class="kt-menu__link "
                      ><i
                        class="kt-menu__link-bullet kt-menu__link-bullet--line"
                        ><span></span></i
                      ><span class="kt-menu__link-text">Campañas</span>
                      <span class="kt-menu__link-badge"
                        ><span class="kt-badge kt-badge--brand">2</span></span
                      ></a
                    >
                  </li>
                </ul>
              </div>
            </li>
          </ul>
          <div class="ps__rail-x" style="left: 0px; bottom: 0px;">
            <div
              class="ps__thumb-x"
              tabindex="0"
              style="left: 0px; width: 0px;"
            ></div>
          </div>
          <div class="ps__rail-y" style="top: 0px; height: 228px; right: 2px;">
            <div
              class="ps__thumb-y"
              tabindex="0"
              style="top: 0px; height: 93px;"
            ></div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper"
      id="kt_wrapper"
    >
      <div
        id="kt_header"
        class="kt-header kt-grid kt-grid--ver  kt-header--fixed "
      >
        <div
          class="kt-header__brand kt-grid__item  "
          id="kt_header_brand"
          kt-hidden-height="80"
          style=""
        >
          <div class="kt-header__brand-logo" id="logo">
            <img alt="Logo" src="../assets/images/images.jpeg" />
          </div>
        </div>
        <h3 class="kt-header__title kt-grid__item">
          ADN ads
        </h3>
        <button
          class="kt-header-menu-wrapper-close"
          id="kt_header_menu_mobile_close_btn"
        >
          <i class="la la-close"></i>
        </button>
        <div
          class="kt-header-menu-wrapper kt-grid__item kt-grid__item--fluid"
          id="kt_header_menu_wrapper"
          style="opacity: 1;"
        ></div>
        <div class="kt-header__topbar">
          <div
            _ngcontent-tfp-c10=""
            class="kt-header__topbar-item kt-header__topbar-item--quickpanel"
            data-placement="left"
            ngbtooltip="Quick panel"
          >
            <div _ngcontent-tfp-c10="" class="kt-header__topbar-wrapper">
              <span
                _ngcontent-tfp-c10=""
                class="kt-header__topbar-icon"
                id="kt_quick_panel_toggler_btn"
                ><i _ngcontent-tfp-c10="" class="flaticon2-cube-1"></i
              ></span>
            </div>
          </div>
          <div id="details">
            <span>Hola usuario</span>
            <a (click)="logout()"
            >Salir</a>
          </div>
        </div>
      </div>
      <div
        class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor"
        id="kt_content"
      >
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
