<div>
  <div class="alert alert-light alert-elevate kt-alert--icon" role="alert">
    <div class="alert-text">
      {{ businessName }}
    </div>
  </div>

  <mat-horizontal-stepper [linear]="isLinear" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Cuenta</ng-template>
        <app-account></app-account>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Campaña</ng-template>
        <app-campaing></app-campaing>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Grupo de anuncios</ng-template>
      <app-groups></app-groups>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Anuncios</ng-template>
      <app-announcements></app-announcements>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Confirmacion</ng-template>
    </mat-step>
  </mat-horizontal-stepper>
</div>
