<div class="kt-grid">
  <div class="col-md-12">
    <div class="kt-portlet">
      <h2 class="kt-portlet__head-title ng-star-inserted" *ngIf="account">
        {{ account.name }}
      </h2>
      <mat-horizontal-stepper #stepper linear *ngIf="account">
        <mat-step>
          <ng-template matStepLabel>Cuenta</ng-template>
          <div>
            <div class="row">
              <div class="col-md-6">
                <h4>Cuenta pendiente por crear</h4>
                <table class="mat-table" id="accounts-container">
                  <thead>
                    <tr class="mat-header-row">
                      <th
                        class="mat-header-cell cdk-column-type mat-column-type ng-star-inserted"
                      >
                        Ad id
                      </th>
                      <th
                        class="mat-header-cell cdk-column-type mat-column-type ng-star-inserted"
                      >
                        Fecha de captura
                      </th>
                      <th
                        class="mat-header-cell cdk-column-type mat-column-type ng-star-inserted"
                      >
                        Cuenta
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="mat-row">
                      <td
                        class="mat-cell cdk-column-type mat-column-type ng-star-inserted"
                      >
                        {{ account.id }}
                      </td>
                      <td
                        class="mat-cell cdk-column-type mat-column-type ng-star-inserted"
                      >
                        {{ account.creationDate }}
                      </td>
                      <td
                        class="mat-cell cdk-column-type mat-column-type ng-star-inserted"
                      >
                        {{ account.name }}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

            <div class="row">
              <button
                type="button"
                matStepperNext
                class="btn btn-brand col-md-2 offset-md-5"
              >
                Continuar
              </button>
            </div>
          </div>
        </mat-step>
        <mat-step>
          <form>
            <ng-template matStepLabel>Campaña</ng-template>
            <app-campaing
              [stepper]="stepper"
              [account]="account"
            ></app-campaing>
          </form>
        </mat-step>
        <mat-step [completed]="groupFormState">
          <ng-template matStepLabel>Grupo de anuncios</ng-template>
          <app-groups
            [stepper]="stepper"
            [account]="account"
            (formEmitter)="getGroups($event)"
          ></app-groups>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Anuncios</ng-template>
          <app-announcements
            [stepper]="stepper"
            [account]="account"
            [groups]="groups"
            *ngIf="groups.length"
          ></app-announcements>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Confirmación</ng-template>
          <div class="box-gray">
            <h2 class="text-center">Tu campaña está lista</h2>
            <b>Fecha de publicación: </b>
            <p></p>
            <b>Ubicación:</b>
            <p></p>
            <b>Objetivo:</b>
            <p></p>
            <b>Estrategia de puja:</b>
            <p></p>
            <b>Se publicó:</b>
            <p></p>
            <b>Se creó</b>
            <p></p>
            <b
              >No se pudo instalar pixel de conversión porque el sitio no está
              disponible</b
            >
          </div>
          <div class=" text-center box-gray">
            <h2>
              El éxito de tu campaña puede verse afectado por la velocidad del
              sitio web de destino
            </h2>
            <p>
              0 to 49 (velocidad de carga lenta): Rojo <br />
              50 to 89 (velocidad de carga promedio): Naranja <br />
              90 to 100 (velocidad de carga rápida): Verde
            </p>
          </div>
        </mat-step>
      </mat-horizontal-stepper>
      <mat-spinner *ngIf="!account"></mat-spinner>
    </div>
  </div>
</div>
