<div id="header" >
  <div class="line"></div>
  <div id="user-icon" class="rounded-circle container">
    <i class="fa fa-user "></i>
  </div>
</div>
<div class="container justify-content-md-center">
  <h3 class="m-widget14__desc">Hola, {{ user }}</h3>

  <span class="widget14__title">
    A continuación vincularemos tu correo electrónico a tus cuentas de anuncios
  </span>
  <br />

  <div id="google-button" (click)="access()">
    <span class="rounded-circle">
      <i class="fa fa-google "></i>
    </span>
    <label>Vincular</label>
  </div>
  <br />

  <button class="btn btn-accent">Ir a ADN ADS</button>
</div>
