<mat-form-field
  _ngcontent-vjd-c45=""
  class="example-full-width mat-form-field ng-tns-c35-22 mat-primary mat-form-field-type-mat-input mat-form-field-appearance-legacy mat-form-field-can-float mat-form-field-has-label mat-form-field-hide-placeholder ng-pristine ng-invalid mat-form-field-invalid ng-touched"
  ><div class="mat-form-field-wrapper">
    <div class="mat-form-field-flex">
      <!----><!---->
      <div class="mat-form-field-infix">
        <input
          _ngcontent-vjd-c45=""
          class="mat-input-element mat-form-field-autofill-control cdk-text-field-autofill-monitored ng-pristine ng-invalid ng-touched"
          matinput=""
          placeholder="Email"
          id="mat-input-11"
          aria-invalid="true"
          aria-required="false"
          aria-describedby="mat-error-1"
        /><span class="mat-form-field-label-wrapper"
          ><!----><label
            class="mat-form-field-label ng-tns-c35-22 mat-empty mat-form-field-empty ng-star-inserted"
            id="mat-form-field-label-25"
            for="mat-input-11"
            aria-owns="mat-input-11"
            ><!----><!---->Email<!----><!----></label
          ></span
        >
      </div>
      <!---->
    </div>
    <!---->
    <div class="mat-form-field-underline ng-tns-c35-22 ng-star-inserted">
      <span class="mat-form-field-ripple"></span>
    </div>
    <div class="mat-form-field-subscript-wrapper">
      <!---->
      <div
        class="ng-tns-c35-22 ng-trigger ng-trigger-transitionMessages ng-star-inserted"
        style="opacity: 1; transform: translateY(0%);"
      >
        <!----><!----><mat-error
          _ngcontent-vjd-c45=""
          class="mat-error ng-star-inserted"
          role="alert"
          id="mat-error-1"
        >
          Email is <strong _ngcontent-vjd-c45="">required</strong></mat-error
        >
      </div>
      <!---->
    </div>
  </div></mat-form-field
>
