<form [formGroup]="form">
  <mat-accordion formArrayName="groups">
    <mat-expansion-panel
      *ngFor="let ex of form.get('groups')['controls']; let i = index"
      [formGroupName]="i"
    >
      <mat-expansion-panel-header>
        <mat-panel-title>
          <b>Grupo: </b>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div>
        <div class="row">
          <div class="col-md-3">
            <mat-form-field>
              <mat-label>Tipo</mat-label>
              <mat-select formControlName="type">
                <mat-option
                  *ngFor="let groupType of groupTypes"
                  [value]="groupType.value"
                >
                  {{ groupType.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="row" id="words-container">
          <b class="col-md-2">Palabras clave sugeridas:</b>

          <mat-chip-list #chipList class="col-md-10">
            <mat-chip
              *ngFor="let word of chip(i)"
              [removable]="true"
              (removed)="removeKeyWord(word, i)"
              color="primary"
              selected
              >{{ word }} <mat-icon matChipRemove>cancel</mat-icon></mat-chip
            >
          </mat-chip-list>
        </div>
        <div class="row">
          <mat-form-field class="col-md-5">
            <input
              matInput
              formControlName="inputKeywords"
              (keyup.enter)="addWords(i)"
              placeholder='Agregar
            otras palabras separadas por "comas"'
            />
          </mat-form-field>

          <mat-icon (click)="addWords(i)">control_point</mat-icon>
        </div>
        <div class="row">
          <div class="col-md-3">
            palabra clave = concordancia amplia <br />

            "palabra clave" = concordancia de frase <br />

            [palabra clave] = concordancia exacta
          </div>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>

  <span class="row">
    <div class="col-md-12 text-center">
      <mat-icon (click)="addGroupForm()" class="cursor-pt">control_point</mat-icon>
      <p>Agregar grupo</p>
    </div>
  </span>

  <div class="row">
    <button
      type="button"
      class="btn btn-brand col-md-2 offset-md-5"
      (click)="continue()"
    >
      Continuar
    </button>
  </div>
</form>
